.header {
    /*
    background: url(/src/images/fondo.jpeg) no-repeat center;
    background-size: cover;
    min-height: 100vh;*/

  }

  .header .navbar {
    background-color: transparent !important;
  }

  .miboton{
      color: orangered;
      background-color: white;
  }

  .beerflix{
      font-size: 3rem;
      color: blue;
      
  }

  img{
      max-width: 100%;
      width: 100%;
  }


  